{% extends 'base.html' %}

{% block title %}List halls {% endblock %}
{% block slider_title %}List halls {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% for item in halls %}
                    <div class="card" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h5>Rows: {{ item.rows }}</h5>
                            <h5>Columns: {{ item.columns }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
