<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-5 offset-xl-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contact Me
                        </h3>
                        <ul>
                            <li><a href="#">cinema@gmail.com
                            </a></li>
                            <li><a href="#">+3800000000
                            </a></li>
                            <li><a href="#">Львів</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>