{% extends 'base.html' %}

{% block title %}Ticket{% endblock %}
{% block slider_title %}Ticket{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">Owner : {{ ticket.ower.first_name }} {{ ticket.ower.last_name }} </p>
                        <h5 class="card-title">{{ ticket.movie.title }}</h5>
                        <h5 class="card-title">{{ ticket.hall.title }}</h5>
                        <h5 class="card-title">Row : {{ ticket.row }}</h5>
                        <h5 class="card-title">Place : {{ ticket.column }}</h5>
                        <h5 class="card-title">{{ ticket.price }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-3"><h2>Hall: {{ session.hall.id }}</h2></div>
            <div class="col-6"></div>
        </div>
    </div>
{% endblock %}