{% extends 'base.html' %}

{% block title %}Tickets{% endblock %}
{% block slider_title %}Tickets{% endblock %}
{% block content %}
    <div class="container">
        {% for ticket in tickets %}
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Owner : {{ ticket.ower.first_name }} {{ ticket.ower.last_name }} </p>
                            <h5 class="card-title">{{ ticket.movie.title }}</h5>
                            <h5 class="card-title">{{ ticket.hall.title }}</h5>
                            <h5 class="card-title">Row : {{ ticket.row }}</h5>
                            <h5 class="card-title">Place : {{ ticket.column }}</h5>
                            <h5 class="card-title">{{ ticket.price }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}