{% extends 'base.html' %}

{% block title %} Create user {% endblock %}
{% block slider_title %}Create user{% endblock %}
{% block content %}
    <form action="{{ url_for('users.create_user') }}" method="post">
        <div class="mb-3">
            <label for="first_name" class="form-label">First name</label>
            <input class="form-control" id="first_name" placeholder="First name" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last name</label>
            <input class="form-control" id="last_name " placeholder="Last name" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input class="form-control" id="age" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" id="password" type="password" required>
        </div>

        <div class="mb-3">
            <label for="is_admin" class="form-label">Admin</label>
            <input type="checkbox"  name="is_admin" id="is_admin">
        </div>
        <div class="mb-2">
        <input class="btn btn-success" type="submit" value="Create">
        </div>
    </form>
{% endblock %}