{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
{% block slider_title %} Profile {% endblock %}
{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ user.age }}</h6>
            <h5 class="card-title">{{ user.email }}</h5>
            {% for ticket in tickets %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Session start at : {{ ticket.session.start_datatime }}</p>
                        <p class="card-text">Session end at : {{ ticket.session.end_datatime }}</p>
                        <p class="card-text">Place : {{ ticket.session.places.coord }}</p>
                        <p class="card-text">Price : {{ ticket.price }}</p>
                        {% if ticket.is_active %}
                               <input class="btn btn-success" type="submit" value="Download pdf">
                        {% else %}
                            <p class="alert-danger">Passed</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}